body {
    display: flex;
    inset: 0;
    position: absolute;
    margin: 0;
    /* align-items: center; */
    justify-content: center;
    background-color: rgb(247, 247, 247);
  }
  #wrapper {
    position: absolute;
    min-height: calc(100vh - 40px);
    width: 1000px;
    padding: 20px;
    /* padding-top: 60px; */
  }
  .grid-item {
    width: calc(940px / 4 - 5px - 80px);
    height: calc(940px / 4 - 5px - 80px);
    margin: 10px;
    padding: 40px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1) inset, rgba(149, 157, 165, 0.15) 0px 3px 6px 0px;
    float: left;
    overflow: auto;
    transition: all 300ms linear 0s;
  }
  .doubleWidth {
    /* background-color: red; */
    width: calc(960px / 2 - 80px);
  }
  #fabButton {
    position: fixed;
    bottom: 32px;
    right: 32px;
    font-size: 1.5em;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  @media only screen and (max-width: 990px) {
    #wrapper {
      width: calc(100vw - 60px);
      /* padding-top: 80vh; */
    }
    .grid-item {
      width: calc((100vw - 60px) / 2 - 20px - 80px);
      height: calc((100vw - 60px) / 2 - 20px - 80px);
    }
    .doubleWidth {
      width: calc((100vw - 60px) / 1 - 20px - 80px);
    }
  }