/* All icons are from Tabler Icons: https://tablericons.com */

body {
  display: flex;
  inset: 0;
  position: relative;
  margin: 0;
  justify-content: center;
  background-color: rgb(247, 247, 247);
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  line-height: 1.3;
  font-size: 16px;
  color: #333;
  overflow-x: hidden;
}
:root{
  --wrapperSize: 1000px;
}
#wrapper {
  position: absolute;
  min-height: calc(100vh - 40px);
  width: var(--wrapperSize);
  padding: 20px;
}
.grid-item {
  position: relative;
  top: unset;
  z-index: unset;
  width: calc(var(--wrapperSize) / 4 - 20px - 48px);
  height: calc(var(--wrapperSize) / 4 - 20px - 48px);
  margin: 10px;
  padding: 24px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgb(230, 230, 230), rgba(149, 157, 165, 0.15) 0px 3px 6px 0px;
  float: left;
  overflow: hidden;
  transform: translate3d(0,0,0);
  transition: all 300ms linear 0s, visibility 0ms linear 0s;
}
.spacer{
  background-color: transparent !important;
  box-shadow: none !important;
  height: 1px;
}
.spacer::after{
  content: '';
  position: absolute;
  width: calc(100% + 24px);
  height: 1px;
  left: -24px;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.1);
}
.grid-new{
  animation: animateIn 300ms cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}
@keyframes animateIn {
  0%{transform: scale(0);}
  100%{transform: scale(1);}
}
.flex-gap{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
a{
  color: orangered;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.grid-item .content{
  position: absolute;
  width: calc(100% - 48px);
  height: calc(100% - 48px);
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 24px;
  z-index: -1;
}
.grid-item .content:hover{
  overflow: auto;
}
.content-img{
  position: absolute;
  width: calc(100% - 48px);
  height: calc(100% - 48px);
  object-fit: cover;
  border-radius: 4px;
  user-select: none;
  cursor: pointer;
}
#overlay-img .content-img{
  cursor: default;
}
.grid-item:has(.content-img):hover{
  box-shadow: 0 0 0 1px rgb(182, 182, 182), rgb(149 157 165 / 15%) 0px 3px 6px 0px;
}
.content-img:active{
  opacity: 0.8;
}
.grid-item#overlay-img .content-img:active{
  opacity: 1;
}
h1, h2, h3{
  pointer-events: none;
  font-weight: 600;
  margin: 0;
}
h1{
  font-size: 7em;
  line-height: 1.6em;
}
h2{
  font-size: 2.7em;
}
h3{
  font-size: 2em;
}
.double-width {
  width: calc(var(--wrapperSize) / 2 - 20px - 48px);
}
.full-width {
  width: calc(100% - 20px - 48px);
}
.half-height{
  height: calc(var(--wrapperSize) / 8 - 20px - 48px);
}
.stickyItem{
  position: sticky;
  top: 12px;
  z-index: 999999;
}
.icon-corner{
  position: fixed;
  display: flex;
  right: 0;
  bottom: 0;
  padding: 16px;
  gap: 4px;
  opacity: 0;
  transition: opacity 200ms linear 0s;
}
.action-icon{
  position: relative;
  width: 16px;
  height: 16px;
  padding: 4px;
  border-radius: 8px;
  background-color: white;
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.action-icon:hover{
  background-color: #eee;
}
.action-icon[tooltip]::after{
  display: block;
  content: attr(tooltip);
  background: #000000;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4) inset;
  color: #ffffff;
  font-size: 13px;
  position: absolute;
  padding: 6px 8px;
  white-space: nowrap;
  top: 110%;
  border-radius: 8px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 100ms linear 0ms;
}
.action-icon[tooltip]:hover::after{
  opacity: 1;
  transition: opacity 200ms linear 500ms;
}
.icon-corner .action-icon[tooltip]::after{
  right: 0;
  left: unset;
  bottom: 110%;
  top: unset;
}
.close-x[tooltip]::after{
  left: unset;
  right: 28px;
  top: 0;
}
.arrow-h{
  background-image: url(images/arrow-h.svg);
}
.arrow-v{
  background-image: url(images/arrow-v.svg);
}
.close-x{
  background-image: url(images/close.svg);
  position: fixed;
  top: 16px;
  right: 16px;
  opacity: 0;
  transition: opacity 200ms linear 0s;
}
.stickyItem .pin{
  background-image: url(images/pinned.svg);
}
.stickyItem .pin::after{
  content: 'Unpin item';
}
.pin{
  background-image: url(images/pin.svg);
  position: fixed;
  top: 16px;
  left: 16px;
  opacity: 0;
  transition: opacity 200ms linear 0s;
}
.color-picker{
  width: 24px;
  height: 24px;
  padding: 4px;
  overflow: visible;
}
.color-picker:focus{
  outline: none;
}
.color-picker[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
.color-picker[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 4px;
}

.grid-item:hover .icon-corner, .grid-item:hover .close-x, .grid-item:hover .pin{
  opacity: 1;
}
.grid-item:focus-within .icon-corner, .grid-item:focus-within .close-x, .grid-item:focus-within .pin{
  opacity: 1;
}
#fab-button {
  position: fixed;
  bottom: 32px;
  right: 32px;
  font-size: 1.5em;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #ffffff;
  z-index: 9999999;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
#fab-button:hover{
  background-color: #fafafa;
}
#fab-button:active{
  background-color: #eeeeee;
}
.button-alert{
  position: fixed;
  bottom: 40px;
  left: 40px;
  padding: 12px 24px;
  background-color: #333333;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  animation: alertPop 5000ms ease-out forwards;
}
.button-alert:hover{
  background-color: #555555;
}
.button-alert::before{
  content: '';
  padding: 8px 12px;
  margin-right: 12px;
  background-image: url(images/undo.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
  border-radius: 8px;
}
#overlay-img{
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  margin: 10px;
  margin-top: 0;
  visibility: hidden;
  z-index: 99999999;
  transition: none;
  transform: rotateY(0deg);
  animation: overlayAnim 300ms ease-in-out forwards;
  animation-name: none;
  cursor: default;
  overflow: visible;
  --bigOverlayMargin: 48px;
}
#overlay-img::before{
  content: '';
  position: fixed;
  top: -25%;
  left: -25%;
  width: 150%;
  height: 150%;
  z-index: -1;
}

@keyframes overlayAnim {
  to{width: calc(90% - var(--bigOverlayMargin)); height: calc(90% - var(--bigOverlayMargin)); top: calc(5% - 12px); left: calc(5% - 12px); box-shadow: 0 0 0 1px rgb(182 182 182), 0 12px 40px 20px #00000022;}
}
@keyframes removeOverlay{
  to{top: 100%; opacity: 0;}
}

@keyframes alertPop{
  0%{bottom: 0; opacity: 0;}
  5%{bottom: 40px; opacity: 1;}
  50%{bottom: 40px; opacity: 1;}
  100%{bottom: 0; opacity: 0;}
}

@media only screen and (max-width: 990px) {
  :root{
    --wrapperSize: calc(100vw - 20px);
  }
  body{
    font-size: 13px;
  }
  #wrapper{
    padding: 10px;
  }
  .grid-item {
    padding: 8px;
    margin: 4px;
    width: calc(var(--wrapperSize) / 2 - 8px - 16px);
    height: calc(var(--wrapperSize) / 2 - 8px - 16px);
  }
  .full-width {
    width: calc(100% - 8px - 16px);
  }
  .double-width {
    width: calc(var(--wrapperSize) / 1 - 8px - 16px);
  }
  #fab-button{
    font-size: 3em;
    width: 60px;
    height: 60px;
  }
  #overlay-img{
    --bigOverlayMargin: 12px;
  }
  #overlay-img .action-icon{
    opacity: 1;
  }
  .button-alert{
    left: 24px;
  }
  .half-height{
    height: calc(var(--wrapperSize) / 4 - 20px) !important;
  }
}
@media (prefers-color-scheme: dark) {
  body{
    color: #ffffff;
    background-color: #000000;
  }
  .grid-item{
    background-color: #333333;
    box-shadow: 0 0 0 1px rgb(97, 97, 97), rgba(0, 0, 0, 0.15) 0px 3px 6px 0px;
  }
  .action-icon{
    background-color: #333333;
  }
  .action-icon:hover{
    background-color: #666666;
  }
  .action-icon::after{
    filter: invert(100%);
  }
  .button-alert{
    background-color: #ffffff;
    color: #333333;
  }
  .button-alert:hover{
    background-color: #dddddd;
  }
  .button-alert::before{
    background-image: url(images/undo-dark.svg);
  }
  .stickyItem .pin{
    background-image: url(images/pinned-dark.svg);
  }
  .pin{
    background-image: url(images/pin-dark.svg);
  }
  .close-x{
    background-image: url(images/close-dark.svg);
  }
  .arrow-h{
    background-image: url(images/arrow-h-dark.svg);
  }
  .arrow-v{
    background-image: url(images/arrow-v-dark.svg);
  }
  a{
    color: orange;
  }
  .spacer::after{
    background-color: rgba(255, 255, 255, 0.3);
  }
}